div#root > div.fui-FluentProvider {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    overflow: hidden;
}

div.fill {
    flex: 1;
}

div.grouped-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 1em;

    @media (max-width: 720px) {
        grid-template-columns: 1fr;
    }
}
