div.page-container.live {
    display: flex;
    flex-direction: column;
    height: 100%;

    div.custom-toolbar {
        > div.fui-Switch {
            align-items: center;

            > label {
                padding-left: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        > div.item {
            > span.fui-InfoLabel.victims-count {
                margin-right: 3em;
            }
        }
    }

    > div.table-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
        position: relative;

        > div.grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
            gap: 1em;
        }

        > div.no-data {
            align-items: center;
            display: flex;
            justify-content: center;
            flex: 1;

            > div.text {
                font-size: 3em;
                font-weight: 600;
                color: var(--colorNeutralStroke1);
                text-align: center;
                line-height: 1em;
            }
        }
    }
}
